<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KDD 2012 Matching System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KDD 2012 Matching System">
    <meta name="author" content="Developed by Ke Wu and Bonnie Yu. Designed by Yi Zhou - www.zhoufolio.com">
    
    <!-- Style Sheets -->
    <link href="{{ STATIC_URL }}frameworks/custom/projects/kdd-2012/kdd-2012-full.css" rel="stylesheet">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34073969-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>
  <body>
    <div class="container">
      <!-- Banner -->
      <section id="banner">
        <a href="{% url kdd_matcher:index %}"><img src="{{ STATIC_URL }}images/kdd-2012/banner.jpg" alt="KDD 2012 Matching System" /></a>
      </section>
      <!-- Main Content -->
      <section id="kdd-2012">
        <div class="hero-unit">
          <blockquote class="instructions">
            <p>Are you looking for mentoring from a KDD expert? KDD 2012 Matching System is an intelligent matching system that matches you with experts from KDD sharing the same interest and/or university affiliation. To get started, please provide your profile data!</p><br />
            <small>KDD 2012 Matching System</small>
          </blockquote>
        </div>
        <div class="row">
          <div class="span12">
            <form class="form-horizontal" name="student_detail"
                action="match" method="post">
              {% csrf_token %}
              <div class="row">
                <!-- Left side -->
                <div class="span5 offset1">
                  <fieldset>
                {% if messages %}
                <ul class="errorlist">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                    <div class="control-group">
                      {% for field in form %}
                      <label class="control-label" 
                             for="{{ field.auto_id }}">
                             {% if field.required %}
                             {{ field.required }}
                             *
                             {% endif %}
                             {{ field.label }}
                      </label>
                      <div class="controls">
                          <input name="{{ field.html_name }}" 
                          type="text" 
                          class="input-xlarge" 
                          id="{{ field.auto_id }}"
                          {% if field.value %}
                          value="{{ field.value }}"
                          {% endif %}
                          placeholder="{{ field.help_text }}">
                          {{ field.errors }}
                      </div>
                      <br />
                      {% endfor %}
                  </fieldset>
                </div>
                <div class="span5 offset1">
                  <button type="submit" class="btn btn-primary btn-large match-me">Match Me!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section><!-- section -->
      <footer class="footer">
        <p class="pull-right">
          <a href="#">Top</a>
        </p>
        <p>Developed by <a href="mailto:ke.wu@ibeca.me">Ke Wu</a> and <a href="mailto:yuqiaoyan@gmail.com">Bonnie Yu</a> from University of Michigan. Please contact us if you have questions or issues with the website.<br />We'd like to give special thanks to the <a href="//arnetminer.org">Arnetminer team</a> for providing us with the initial data.<br />&copy; 2012</p>
      </footer>
    </div> <!-- /container -->
    <!-- Javascript -->
    <script type="text/javascript">var STATIC_URL = "{{STATIC_URL}}" </script> 
    <script src="{{ STATIC_URL }}frameworks/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}frameworks/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}frameworks/raty/js/jquery.raty.min.js"></script>
    <script type="text/javascript">
    $('#star').raty();
    </script>
  </body>
</html>
